.ic-walpaper {
  display: block;
  height: 100vh;
  width: 100%;
  z-index: -2px;
}
.ic-nopad {
  padding: 0px;
}
.ic-icon-ilcs {
  height: 130px;
  width: auto;
}
.ic-header-form {
  margin-top: 20vh;
}
.ic-header-logo {
  margin-top: 10vh;
}
.ic-icon img {
  flex: 1;
  height: 10px;
  width: auto;
}
.ic-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color:#3AAFD6;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  height: 36px;
  padding: 0 26px;
  margin: 6px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  font-family: inherit;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.ic-logo-icargo {
  margin: 30px;
  position: absolute; 
  z-index: 2;
}
.ic-logo-icargo img{
  height: 57px;
  width: auto;
}
/* .ic-icon span{
} */