<template>
<div>
  <div class="mui-col-md-8 mui-col-md-offset-2 mui--text-center">
    <img class="ic-icon-ilcs" src="/static/assets/images/logo-ilcs.png" alt="">
  </div>
  <div class="mui-col-md-10 mui-col-md-offset-1 ic-header-logo">
    <form class="mui-form">
        <legend>Sign In</legend>
        <div class="mui--text-caption">Or <a href="">Create Account</a></div>
        <br>
        <div class="mui-textfield mui-textfield--float-label">
          <input type="text">
          <label>Username or Email</label>
        </div>
        <div class="mui-textfield mui-textfield--float-label">
          <input type="text">
          <label>Password</label>
        </div>
        <div class="">
          <button class="ic-button mui-btn--raised">Sign In</button>
        </div>
        <pre></pre>
    </form>
  </div>
</div>
</template>
<script>
/* eslint-disable */
export default {
}
</script>
<style>
</style>

