<template>
<div class="mui-container-fluid">
  <div class="mui-row">
    <div class="mui-col-md-8" style="padding: 0px;">
      <walpaper />
    </div>
    <div class="mui-col-md-4 ic-header-form">
      <Form />
    </div>
  </div>
</div>
</template>
<script>
import Walpaper from '@/components/login/Walpaper'
import Form from '@/components/login/Form'
import { mapGetters, mapActions } from 'vuex'
export default {
  components: {
    Walpaper,
    Form
  },
  computed: {
    ...mapGetters([
      'List'
    ])
  },
  methods: {
    ...mapActions([
      'GetData'
    ])
  },
  mounted () {
    this.GetData()
  }
}
</script>
<style>
</style>

