<template>
  <div>
    <div class="ic-logo-icargo">
      <img src="/static/assets/images/icargo.png" alt="">
    </div>
    <img class="ic-walpaper" src="/static/assets/images/login-bg.jpg" alt="">
  </div>
</template>
<script>
export default {
}
</script>
<style>
</style>
